body, input {
  font-size: 20pt;
  text-align: center;
}

body {
  font-family: 'Helvetica';
}

#typeThis{
  font-size: 80pt;
}

#keyboardInput{
  text-align: left;
  padding: 10px;
}

#feedback{
  text-align: left;
}